{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_user'|trans }}{{ user.name }}
{% endblock %}

{% block body %}
    <table>
        <tr>
            <td>
                {{ 'user_name'|trans }} - {{ user.name }} |
                {{ 'user_email'|trans }} - {{ user.email }}

            </td>
            <td>
                <a href="{{ url('user_email', {'id': user.id}) }}" title="{{ 'action_change'|trans }}" class="btn btn-primary">
                    {{ 'action_change'|trans }}</a>
            </td>
        </tr>
        <tr>
            <td>{{ 'user_password'|trans }} - </td>
            <td>
                <a href="{{ url('user_password',{'id': user.id}) }}" title="{{ 'action_change'|trans }}" class="btn btn-primary">
                    {{ 'action_change'|trans }}</a>
            </td>
        </tr>
     </table>
     {% if is_granted("ROLE_ADMIN") %}
    <hr>
    <div>
        <a href="{{ url('user_index') }}" title="{{ 'action_back_to_list'|trans }}" class="btn btn-primary">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {% endif %}
{% endblock %}